body{
    font-family: arial, sans-serif;
}

h1{
    padding-top: 10px;
    color:rgb(135,135,135);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    }
ul{
    margin:0;
    padding:0;
}
li{
   list-style:none;
   margin: 0;
   padding: 0;
  
   color: rgb(135, 135, 135);
   font-size: 16px;
   font-weight: 100;
   line-height: 19px;
}
li::first-letter{
text-transform: capitalize;
}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}
.overview{
    margin-bottom:20px;
}
.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong{
    color:rgb(33,33,33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}
.weather-temperature units{
    position: relative;
    font-size: 16px;
}